.AppCommande{
  margin-top: 50px;
  font-size: 15px;
}

 input:-webkit-autofill,  textarea:-webkit-autofill,  select:-webkit-autofill {
  background: none!important;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0,0,0,0) inset;
  background-color: none!important;
}

.AppCommande .btn-next{
  text-align: right;
  margin-top: 20px;
}
.AppCommande .btn-next a{
  display: inline-block;
  height: 40px; line-height: 40px;
  background: #7f9f28;
  padding: 0px 15px; text-align: center;
  font-weight: bold;
  color: white !important;
  text-decoration: none;
  font-size: 14px;
}

.AppCommande .Steps h2{
  margin-top: 20px;
}

.AppCommande .Steps{  background: white;
  margin: 20px; padding-top:1px; margin-bottom:0px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
}

.AppCommande .Steps>div{
    /*margin: 20px;*/
    padding: 20px;
}
.AppCommande .Steps>div.Service-Select{
    padding-bottom: 20px;
}

.AppCommande .Steps>div.Tarif{
    /*margin: 0px;*/
    padding: 0px;
    position: relative;
    background: #7f9f28;
}
.AppCommande .Steps>div.Tarif>div{
  width: 500px;
  color: white !important;
  margin: 20px auto;
}

.AppCommande .Steps>div.Tarif>div:first-child{ padding-top:20px; }

.AppCommande .Steps>div.Tarif>div:last-child{ padding-bottom:20px; }

.AppCommande .Steps>div.Tarif .btn-next{

    text-align: center;;
    margin-top: 20px;
}

.AppCommande .Steps>div.Tarif .btn-next a{
  background: white;
  color: #575757 !important;
  display: block;
}

.AppCommande .Steps>div.Tarif>div:first-child::before{
    display: block;
    position:absolute; top: 0px; left: 50%;
    margin-top: -13px; margin-left: -13px;
    background: white;
    width: 25px; height: 25px;
    content :'';

    webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    transform:rotate(45deg);

}

.AppCommande .Steps .Tarif-list div{
  border-bottom: 1px solid rgba(255,255,255,0.1);
  height:50px; line-height: 50px;
}
.AppCommande .Steps  .Tarif-name{
  display:inline-block;

  padding-left: 10px;
  width: 405px;  height:50px; line-height: 50px;
}
.AppCommande .Steps .Tarif-price{
  display:inline-block;
  height:50px; line-height: 50px;
  text-align: right;;
  padding-right:10px;
  width: 90px;
}

.AppCommande .Steps .Tarif-total{
  background: rgba(255,255,255,0.1);
}

/* STEPS */
.AppCommande .Steps>div h3,
.AppCommande .Steps>div h4{
  font-size: 16px;
  margin-top: 25px;
  font-weight: 400;
  color: #262a60;
  display: inline-block;
}

.AppCommande .Steps>div .bien-select-count>h4,
.AppCommande .Steps>div .bien-select-superficie>h4{
  display:block;
}



/* Bread-Crumb */


.AppCommande .Bread-Crumb{
  text-align: center;
}
.AppCommande .Bread-Crumb-Item{
  display: inline-block;
  text-align: center;
  position: relative;
  width: 200px;
}
.AppCommande .Bread-Crumb-Item a,
.AppCommande .Bread-Crumb-Item span{
  text-decoration: none;
  color: #bdbdbd;
}
.AppCommande .Bread-Crumb-Item.active a{ color: #668ec7; /*color: #262d60;*/}
.AppCommande .Bread-Crumb-Item.current a{color: #668ec7; /*color: #262d60;*/}

.AppCommande .Bread-Crumb-Item .dot{
  content :'';
  display:inline-block;
  width: 20px; height: 20px;  border-radius: 10px;
  background: #bdbdbd;

}
.AppCommande .Bread-Crumb-Item.active .dot{
  background: #668ec7;  /*background: #262d60;*/
}
.AppCommande .Bread-Crumb-Item.current .dot{
  background: #262d60;  background: #7f9f28;
}

.AppCommande .Bread-Crumb-Item:before{
  content :'';
  display: block;
  height: 2px; width: 170px;
  background-color: #bdbdbd;
  position: absolute;
  top: 10px;
  left: -85px;
}

.AppCommande .Bread-Crumb-Item.active:before{
  background: #668ec7; /* background: #262d60;*/
}

.AppCommande .Bread-Crumb-Item:first-child:before{ content: none; }


/* STEP 1 */

.AppCommande .region-select-item,
.AppCommande .bien-select-type-item,
.AppCommande .service-select-item{
  cursor: pointer;
  display:inline-block;
  width: 150px; height: 150px;
  background: white;
  background: #f9f9f9;
  color: #262d60; color: #575757;
  border: 1px solid #DEDEDE;
  margin-right: 25px;
  position: relative;
}

.AppCommande .region-select-item img,
.AppCommande .bien-select-type-item img,
.AppCommande .service-select-item img,
.AppCommande .clientTypePicker-item img{
  display: block;
  height: 60px; width:60px;
  position: absolute;
  top: 25px; left: 45px; right: 45px;
}

.AppCommande .clientTypePicker-item img{
  left: 50px; right: 50px;
  height: 50px; width:50px;
}

.AppCommande .region-select-item .bien-select-name,
.AppCommande .bien-select-type-item .bien-select-name,
.AppCommande .service-select-item .sevice-select-name,
.AppCommande .clientTypePicker-item .clientTypePicker-name{
  display: block;
  position: absolute;
  bottom: 20px; left: 0px; right: 0px;
  text-align: center;
}

.AppCommande .service-select-item .service-select-image-69{
  height:45px; width: 75px;
  left : 37px; top: 35px;
}

.AppCommande .region-select-item:last-child,
.AppCommande .bien-select-type-item:last-child{
  margin-right: 0px;
}

.AppCommande .region-select-item.active,
.AppCommande .bien-select-type-item.active{
  background: #668ec7; /*background: #262d60;*/
  color: white;
  border: 1px solid #DEDEDE;
}

.AppCommande .bien-select-count-item,
.AppCommande .bien-select-superficie-item,
.AppCommande .service-select-elec-count-item,
.AppCommande .service-select-citerne-item{

  cursor: pointer;
  display:inline-block;
  width: 150px;
  height: 25px;
  line-height: 25px;
  height: 40px;
  line-height: 40px;
  background: white;
  background: #f9f9f9;
  color: #262d60; color: #575757;
  text-align: center;
  border: 1px solid #DEDEDE;
  border-right: 0px;
}



.AppCommande .bien-select-count-item:last-child,
.AppCommande .bien-select-superficie-item:last-child,
.AppCommande .service-select-item:last-child,
.AppCommande .service-select-elec-count-item:last-child,
.AppCommande .service-select-citerne-item:last-child{
  border-right: 1px solid #DEDEDE;
}

.AppCommande .bien-select-count-item.active,
.AppCommande .bien-select-superficie-item.active,
.AppCommande .service-select-item.active,
.AppCommande .service-select-elec-count-item.active,
.AppCommande .service-select-citerne-item.active{
  background: #668ec7; /*background: #262d60;*/
  color: white;
}


/*
.AppCommande .Card{
  background: white;
  padding: 20px;
  margin: 20px;
}

.AppCommande .Card-shadow{
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
}*/

.AppCommande .fifty{
  width: 50%;
}
.AppCommande .itable{
  display: inline-block;
  display: inline-table;
}



.AppCommande .Card.Card-grey-background{
  background: #f3f3f3;
}
.AppCommande .Card.Card-no-background{
  background: none!important;
}


.AppCommande .remarque-textarea {
  width: 100%;
  min-height: 150px;
  border: 1px solid #e3e3e3;
}

.AppCommande .marginleft{
  margin-left: 10px;
}

.AppCommande .Resume-Price span.tarif{
  font-size: 25px; color: #668ec7; line-height: 25px;
}

.AppCommande .Resume-ConditionGenerale>*{
  cursor:pointer;
}



.AppCommande .mail-input.alreadyused input{
  border : 1px solid red;
  color: red;
}


.AppCommande .mail-input span{
display: none;
}



.AppCommande .Step-Two .InfoCoordonnee{
}

.AppCommande .Step-Two .clientTypePicker-items{
  margin-bottom: 20px;
}

.AppCommande .Step-Two .InfoCoordonnee .clientTypePicker-item{
  cursor: pointer;
  display: inline-table;
  width: 150px;
  height: 150px;
  line-height: 40px;
  background: white;
  background: #f9f9f9;
  color: #262d60;
  color: #575757;
  text-align: center;
  border: 1px solid #DEDEDE;
  margin-right: 25px;
  position: relative;
}
.AppCommande .Step-Two .InfoCoordonnee .clientTypePicker-item.active{
  background: #668ec7; /*background: #262d60;*/
  color: white;
  border: 1px solid #DEDEDE;
}

.AppCommande .Steps form>span,
.AppCommande .Steps form>div>span{
  border: 1px solid #DEDEDE;
  color: #888888 !important;
  border-radius: 5px;
  display: inline-block;
  padding-left: 5px;
  margin-right: 10px; margin-bottom: 10px;
  width: 205px;height: 30px; line-height: 30px;
  position: relative;
}
.AppCommande .Steps form>span::before,
.AppCommande .Steps form>div>span::before{
  content : '';
}
.AppCommande .Steps form>span:nth-child(4n+4),
.AppCommande .Steps form>div>span:nth-child(4n+4){
  margin-right: 0px;
}
.AppCommande .Steps form>span input,
.AppCommande .Steps form>div>span input{
  display: inline;
  border:0px;
  color: #575757 !important;
  padding:10px;
  padding-left : 90px;
  background: none!important;
  float:right;
  position: absolute; top:0px; right: 0px; left: 0px; bottom: 0px;
  max-width: 205px;
}
input:-webkit-autofill {
    background-color: rgba(0,0,0,0)!important;
}
.AppCommande .Steps .login-form  form>span,
.AppCommande .Steps .login-form  form>div>span{
  width: 240px;
}
.AppCommande .Steps .login-form form>span input,
.AppCommande .Steps .login-form form>div>span input{
  padding-left: 50px; max-width: inherit;
}


.AppCommande form div.DateVisitePicker>span{
  display: block;
}
.AppCommande form div.DateVisitePicker>div{
  background: white;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  display: inline-block;
  padding-left: 5px;

  height: 30px; line-height: 30px;
}
.AppCommande .DVP-Select{
  display:inline-block;
  width: 200px;
  position: relative;
}
.AppCommande .DVP-Select input{
  width: 150px; border:0px;
  height: 24px; display: inline-block;
  color: #888888;
}
.AppCommande .DVP-Select input[disabled]{
  background: white;
  color: #888888;
}
.AppCommande .DVP-Select input::input-placeholder {   color: #888888; opacity:1; }
.AppCommande .DVP-Select input::-webkit-input-placeholder {   color: #888888; opacity:1; }
.AppCommande .DVP-Select input:-moz-placeholder {   /* FF 4-18 */ color: #888888; opacity:1; }
.AppCommande .DVP-Select input::-moz-placeholder {   /* FF 19+ */ color: #888888; opacity:1; }
.AppCommande .DVP-Select input:-ms-input-placeholder {   /* IE 10+ */ color: #888888; opacity:1; }

.AppCommande .DVP-Dates{
  display:inline-block; position: relative;
}
.AppCommande .DVP-Date{
  background: #f3f3f3;
  border: 1px solid #DEDEDE; display:inline-block;
  height: 20px; line-height: 20px;
  margin:2px 5px; padding: 0px 5px;
  padding-right: 20px;
  position: relative;
  border-radius: 5px;
}

.AppCommande form div.DateVisitePicker .DVP-Date .DVP-remove{
  position: absolute; top:0px; right:0px;
  width: 15px; text-align: center;
  cursor: pointer;
  background: #668ec7; color: white;
  margin-top:-1px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.AppCommande form div.DateVisitePicker .DVP-Add{
  display: inline-block; float:right;
  width: 30px; height: 28px; line-height: 28px;
  background: #668ec7; color: white !important;
  text-align: center;
}

.AppCommande .DateVisitePicker>.DVP-Message{
  border: 1px solid red;
  color: red !important;
  text-align: center;
  margin: 20px 0px;
  padding: 5px;
  display: block;
  line-height: inherit;
}

.AppCommande .Steps .copy{
  cursor:pointer; display: inline-block; margin-left: 20px;
  height: 30px; line-height: 30px; padding: 0px 10px;
}

.AppCommande .Steps form>span .ZipCityPicker{}

.AppCommande .ZipCityPicker select{
  width: 147px;
  height: 30px;
  position: absolute;
  margin-top:-1px;
  top: 0px;
  right: 0px;
  right: -145px;
}

.AppCommande .Info-Coordonnee-Owner{
  padding-top: 20px;
}

.AppCommande .Steps>div.Error{
  border: 1px solid red;
  color: red !important;
  text-align: center;
  margin: 20px;
}


.AppCommande .login-form{
  cursor: pointer;/*
  width: 400px;
  height: 250px;*/
  line-height: 30px;
  background: white;
  color: #262d60;
  color: #575757;
  margin-right: 0px;
  display:none;
}
.AppCommande .login-form.open form{
  display:block;
  position: fixed;
  width: 740px;;
  height: 350px;
  top: 50%;
  left: 50%;
  margin-left: -370px;
  margin-top: -155px;
  background:white;
  padding: 50px 80px;
}

.AppCommande .login-form.open form .login-left,
.AppCommande .login-form.open form .login-form-newclient{
  width: 250px; height: 250px;
  margin-right: 80px;
  display:inline-table;
  position: relative;
}
.AppCommande .login-form.open form .login-form-newclient{margin-right: 0px;}
#AllMainArea .CenterAlign .ContentTxtArea .AppCommande .login-form.open form .login-form-newclient p{
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;}

.AppCommande .login-form.open{
  z-index:99999999;
  display: block;
  background-color: rgba(0,0,0,0.2);
  width: inherit;height: inherit;
  position: fixed;top:0px; left:0px;right: 0px; bottom:0px;
}

.AppCommande .login-form.open form>h4:first-child{
  margin-top:0px;
}

.AppCommande .Steps .login-form>span,
.AppCommande .Steps .login-form>div>span{
  border: 1px solid #DEDEDE;
  color: #888888 !important;
  border-radius: 5px;
  display: inline-block;
  padding-left: 5px;
  margin-right: 10px; margin-bottom: 10px;
  height: 30px; line-height: 30px;
  position: relative;
  width: 240px;
}
.AppCommande .Steps .login-form>span::before,
.AppCommande .Steps .login-form>div>pan::before{
  content : '';
}
.AppCommande .Steps .login-form>span input
.AppCommande .Steps .login-form>div>span input{
  display: inline;
  border:0px;
  color: #575757 !important;
  padding:10px;
  padding-left : 60px;
  background: none!important;
  float:right;
  position: absolute; top:0px; right: 0px; left: 0px; bottom: 0px;
  max-width: 240px;
}

.AppCommande .Steps .login-form>span.LoginForm input{ padding-left: 10px; }

.AppCommande .Steps .login-form .LoginBtn {
  background: #7f9f28;
  text-align: center;
  border-radius: 5px;
  color: white!important;
  position: absolute;
  bottom:0px; left: 0px; right: 0px;
}

.AppCommande .fifty{
  margin : 10px 0px;
  padding: 0px 10px;
  min-height: 30px; line-height: 30px;
}

.AppCommande .Info-Document div{
  padding: 0px 10px;
  min-height: 30px; line-height: 30px;
  margin: 20px 0px;
}

.AppCommande .fifty:nth-child(2){
  background:#f3f3f3;
}
.AppCommande .fifty input[type='checkbox']{
  margin-right: 15px;
}


.AppCommande .PromoCode-Error{
  border: 1px solid red;
  color: red;
}
